/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 0px;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.imgageProfil {
	margin-left: 100px;

}

.modal3 {
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 30px;
}

.modal2 {
	padding-left: 50px;
	margin-top: 20px;
}

#portfolio {
	padding-left: 50px;
}

.modal {
	display: non;
	background: #0000004d;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	

}

.modal-header {
	background: #000;
	height: 59px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.modal-wrapper {
	
	background-color: #fff;
	width: 100%;
	max-width: 630px;
	border-radius: 10px;
	background-color: #fff;
	width: 100%;
	max-width: 630px;
	margin: 100px auto;
	border-radius: 10px;
	
}

.modal .divider {
	border-top: 1px solid black;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.buttonDeleted {
	font-size: 16px;
	margin-right: 25px;
	padding-top: 25px;
	height: 25px;
	color: black;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;


}

#titleModal {
	margin: 0px;
	text-align: center;
	font-size: 26px;
}

.ajouter {

	display: flex;
	justify-content: center;
}

.supprimer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 40px;
	cursor: pointer;
	color: red;
}
.image-modal1 {
	height: 102.57px;
	width: 76.86px;
	margin-left: 40px;
	margin-top: 30px;

}
.icon-modal {
	position: absolute;
	cursor: pointer;
	color: white;
	margin-left: -25px;
	border: 2px solid black;
	background-color: #000;
	width: 17px;
	height: 17px;
	margin-top: 40px;
}

.icon-modal1 {
	position: absolute;
	cursor: pointer;
	color: white;
	border: 2px solid black;
	background-color: #000;
	width: 17px;
	height: 17px;
	margin-top: 40px;
	
	margin-left: -50px;
}
.fa-solid {
	text-align: center;
	
}

.gestionGallery {
	display: flex;
	flex-wrap: wrap;
}



/* Version mobile */
@media (max-width: 767.98px) {
	header {

		flex-direction: column;
	}

	h1 {

		align-items: center;
	}

	nav ul {

		justify-content: space-between;
		margin-top: 10px;
	}

	#introduction {
		display: flex;
		flex-direction: column-reverse;

	}

	h2 {
		display: flex;
		justify-content: center;

	}

	p {

		padding-left: 10px;

	}

	figcaption {
		padding-left: 10px;

	}

	.gallery {
		display: flex;
		flex-direction: column;
		
	}




}

/* Page connexion */

form {

	display: flex;
	flex-direction: column;
	align-items: center;

}

input {
	width: 319px;
	height: 51px;

}

h1 {
	font-size: 16px;
	margin: 0%;

}

h2 {

	display: flex;
	justify-content: center;
	font-size: 30px;
}

h3 {
	margin: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 71.4%;
	font-size: 14px;
	width: 100%;

}

button {
	width: 179px;
	height: 36px;
	border-radius: 20px;
	background-color: green;
	color: aliceblue;
	margin-top: 30px;
}

.motPasse {
	margin-top: 30px;
	font-size: 14px;
}

.blue {}

a {

	margin-right: 20px;
	display: flex;
	align-items: center;
	color: black;

}

.title {
	width: 100%;
	display: flex;
	height: 42px;



}

.lien {

	display: flex;
	width: 80%;
	justify-content: flex-end;

	margin: 0px;
}

.lien1 {
	text-decoration: none;
}

p {
	font-size: 16px;
	margin-top: 5px;


}

.connexion-page {
	background-color: #FFFEF8;
}


.main {
	min-height: 80vh;
}

footer {
	background: #fff;
	height: 60px;
	width: 100%;

}

footer nav {
	display: flex;
	justify-content: flex-end;

}

.box-filters {
	height: 37px;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filter {
	height: 37px;
	border: 1px solid #1D6154;
	background-color: #fff;
	color: #1D6154;
	box-sizing: border-box;
	border-radius: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	padding-left: 1px;
	padding-right: 1px;
	cursor: pointer;
	margin-right: 1px;
	margin-right: 5px;

}

.filter:hover, .filter.selected {
	background-color: #1D6154;
	color: #fff;
}

.gallery .hidden {
	display: none;
}

.alert {
	color: red;
	margin-top: 20px;
	font-size: 20px;
}